<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sistersditmobile.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SisterSditMobile</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
   
   <platform name="android">
        <!-- enable http API -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />

        <!-- icon -->
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />

        <!-- splash default -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-hdpi.png" density="hdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-ldpi.png" density="ldpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-mdpi.png" density="mdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xhdpi.png" density="xhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xxhdpi.png" density="xxhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xxxhdpi.png" density="xxxhdpi" />

        <!-- splash portait -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi" />

        <!-- splash landscape -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi" />

        <!-- preference -->
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="FadeSplashScreenDuration" value="2000"/>
        <preference name="SplashMaintainAspectRatio" value="true"/>
        <preference name="SplashShowOnlyFirstTime" value="false"/>
        <preference name="ShowSplashScreenSpinner" value="false" />

    </platform>
   
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <preference name="usesCleartextTraffic" value="true" /> -->
</widget>
